/* =====================================================
                    PAGE
===================================================== */

.crawler-page{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    background:

        linear-gradient(
            180deg,
            #040a1f 0%,
            #08112d 100%
        );

    position:relative;

    overflow:hidden;

}


/* =====================================================
                BACKGROUND EFFECT
===================================================== */

.crawler-page::before{

    content:"";

    position:absolute;

    width:450px;

    height:450px;

    border-radius:50%;

    background:

        rgba(59,130,246,.18);

    left:-120px;

    top:-120px;

    filter:blur(120px);

}

.crawler-page::after{

    content:"";

    position:absolute;

    width:550px;

    height:550px;

    border-radius:50%;

    background:

        rgba(255,255,255,.04);

    right:-150px;

    bottom:-200px;

    filter:blur(150px);

}